body {
    font-family: sans-serif, Arial;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    background-color: #f9f8f8;
    padding-bottom: 10%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .poem {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    z-index: 1;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  .author {
    position: fixed;
    bottom: 20px;
    right: 55%;
    font-family: Times, serif;
    font-size: 55px;
    color: rgba(10, 5, 4, 0.1);
    z-index: 0;
    text-transform: uppercase;
    transition: bottom 0.3s ease-in-out;
  }

  
  /*fecha- date*/
  .date {
    text-align: right;
    color: gray;

  }
  
  @media screen and (max-width: 768px) {
    .poem {
      padding: 20px;
    }
  
    h1 {
      font-size: 24px;
    }
  }
  


/*image following the mouse.*/
#funny-image {
  position: absolute;
  width: 44px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  pointer-events: none; /* Ensure the image does not interfere with mouse events */
}
