/* Reset default browser styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Verdana, sans-serif, Tahoma;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Global styles */
body {
  padding: 0;
  overflow-y: auto; /* Enable vertical scrolling for entire body */
  background-color: #f8f8f8; /* Light gray background color */
}

/* Header styles */
.header {
  padding: 0%;
  position: relative; /* Ensure relative positioning for absolute positioning of h1 and p */
}

.header h1,
.header p {
  margin: 0;
  position: absolute; /* Position elements absolutely within the header */
  text-align: center;
  width: 100%;
}

.header h1 {
  font-size: 2.5em;
  color: #f1f1f1;
  font-weight: bold;
  top: 45%; /* Adjust the distance from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.header p {
  font-size: 1.2em;
  opacity: 0.8;
  color: #f1f1f1;
  top: 65%; /* Adjust the distance from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

/*Ensure images cannot be selected.*/
img {
   user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Ensure the header image appears below the fixed h1 and p */
.header img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('header_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0%;
  z-index: 0; /* Ensure the image is behind the h1 and p */
}


.navbar1 {
  position: fixed;
  top: 0;
  left: -2.5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  color: red;
  z-index: 999;
  transition: top 0.5s ease;
}

.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* Ensure the menu icon is above other elements */
}

.nav-links {
  display: flex;
  flex-direction: column;
  background-color: rgba(168, 120, 120, 0.4);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  right: 5.5%;
  display: none;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  top: calc(100% + 10px);
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

@media screen and (min-width: 501px) {
  .menu-icon {
    display: none;
  }

  .navbar1 {
    position: static;
    background-color: transparent;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    background-color: rgba(168, 120, 120, 0.4);
    margin-right: 20px;
    position: static;
    align-items: flex-end;
  }
}

/* Section styles */
section {
  padding: 20px;
}

#acerca-de p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

#poems {
  background-color: rgba(168, 120, 120, 0.4);
  padding: 40px;
  margin-bottom: 40px;
  z-index: 99;
}

#acerca-de p,
#poems p, a {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}


#acerca-de p::first-letter,
#poems p::first-letter {
  font-size: 2em;
  color: #8c1515; /* Dark red */
  float: left;
  margin-right: 5px;
  line-height: 1; /* Ensure proper alignment */
}

#poems {
  position: relative;
  overflow: hidden;
}

#poems::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .9)); /* Gradient overlay */
  pointer-events: none; /* Allow interaction with underlying elements */
  z-index: 0;
}

#poems ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#poems ul li a {
  color: #8c1515; /* Dark red */
  text-decoration: none;
  transition: color 0.3s ease;
}

#poems ul li a:hover {
  color: #000000; /* Lighter red */
}

#quotes ul li {
  list-style-type: upper-roman;
}

#left-quotes {
  text-align: left;
}

#right-quotes {
  background-color: #ffffff;
  padding: 15px;
  text-align: right;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 90%; /* Ancho máximo del contenedor */
  margin: auto; /* Centrar el contenedor horizontalmente */
  position: relative;
}


@media (max-width: 768px) {
  #right-quotes {
    max-width: 100%; /* Ancho máximo al 100% en pantallas pequeñas */
    border-radius: 0; /* Sin bordes redondeados en pantallas pequeñas */
  }
}

/* Image container styles */
.image-container {
  text-align: center;
  margin-bottom: 40px;
}

.image-container img {
  max-width: 100%; /* Ensure images don't overflow on smaller screens */
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.image-container p {
  font-size: 14px;
  text-align: center;
}

/* Footer styles */
footer {
  background-color: #0d3c55;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-align: justify;
}

.container .logo {
  height: auto;
  width: auto;
  padding-left: 20px;
}

.contact-info p {
  margin: 5px 0;
  margin-left: 10px;
}

.social-icons, .social-icons a {
  margin-top: 20px;
  padding-right: 20px;
}

.social-icons a {
  margin: 10px 15px;
  font-size: 24px;
  transition: color 0.6s ease;
}

/* Add hover effect for social icons */
.social-icons a:hover {
  transform: translateY(-30px);
}

/* Magnifying glass effect for text */
.magnify {
  display: inline-block;
}

.word-magnify {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.word-magnify:hover {
  transform: scale(1.2);
}

/* Animation styles face first quote */
.fadeInUp {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeInUp.active {
  opacity: 1;
  transform: translateY(0); /* Change translateY value to 0 for active state */
}

/*hover over all the a's*/
.hover-effect {
  transition: all 0.3s ease; /* Transición suave */
}
.hover-effect:hover {
  font-weight: bold; /* Hacer la palabra en negrita */
  font-size: 1.2em; /* Aumentar el tamaño de la fuente */
}
